ion-app.platform-ios12,
.ios,
ion-content {
	pointer-events: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

:root {
	--ion-background-color: #f6f6f6;

	/* --ion-color-primary: #4da9f5; */
	/* --ion-color-primary: #8cc7f8; */
	/* --ion-color-primary: #378ed9; muy azul */
	--ion-color-primary: #629dca;
	--ion-color-primary-shade: #177dca;
	--ion-color-primary-tint: #59b3f8;
}


ion-tab-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	background: #fff6 ;
	backdrop-filter: blur(16px) ;
}

ion-tab-button {
	background: none;
}


ion-searchbar {
	--cancel-button-color: #3880ff !important;
}

ion-fab {
	bottom: calc(50px + 10px);
	margin-bottom: var(--ion-safe-area-top);
}



ion-icon {
	font-size: 24px;
	padding-left: 0 !important;
	margin-left: 0 !important;
}

input {
	padding-left: 32px !important ;
}

ion-title {
	position: absolute;
}

.ion-cloned-element.ios.title-default {
	padding-top: 0px;
	bottom: 0px;
	align-items: flex-end;
	min-width: 100%;
	padding-bottom: 6px;
	font-size: 34px;
	font-weight: 700;
	text-align: start;
	padding-left: unset;
	padding-right: unset;
	padding-inline-start: 16px;
	padding-inline-end: 16px;
}


ion-segment {
	/* position: absolute;
	left: 15px;
	right: 15px;
	bottom: 10px; */
}