ion-app,
.ios
ion-content {
	pointer-events: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

ion-list {
	padding-bottom: calc(70px + env(safe-area-inset-top)) !important;
}

:root {
	--ion-background-color: #f6f6f6;


	/* GRIS AZULADO  (muy bueno) */
	--ion-color-primary: #629dca;
	--ion-color-primary-shade: #629dca;

	/* AZUL CIELO  */
	/* --ion-color-primary: #177dca;
	--ion-color-primary-shade: #177dca; */

	/* MOSTAZA  */
	/* --ion-color-primary: #F0CA5F;
	--ion-color-primary-shade: #F0CA5F; */

	/* MOSTAZA  */
	/* --ion-color-primary: #dabb69;
	--ion-color-primary-shade: #dbb857; */

}

ion-tab-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	background: #fff6;
	backdrop-filter: blur(16px);
}

ion-tab-button {
	background: none;
}

ion-searchbar {
	--cancel-button-color: #3880ff !important;
}

ion-fab {
	bottom: calc(50px + 20px + env(safe-area-inset-top) * 0.7);
}

.ios ion-icon {
	font-size: 24px;
	padding-left: 0 !important;
	margin-left: 0 !important;
	display: block !important;
}

.ios ion-searchbar input {
	padding-left: 32px !important ;
}

.ios ion-title {
	position: absolute;
}

.ion-cloned-element.ios.title-default {
	padding-top: 0px;
	bottom: 0px;
	align-items: flex-end;
	min-width: 100%;
	padding-bottom: 6px;
	font-size: 34px;
	font-weight: 700;
	text-align: start;
	padding-left: unset;
	padding-right: unset;
	padding-inline-start: 16px;
	padding-inline-end: 16px;
}


.no-border ion-toolbar {
	--border-width: 0px !important;
}




ion-back-button {
	color: var(--ion-color-primary);
}

/* ion-back-button, ion-buttons, ion-icon, ion-header, ion-toolbar {
	display: block !important;
} */

/* .header-md::after {
	display: block !important;
} */

.safe-padding {
	padding-top: env(safe-area-inset-top) !important;
}

.content {
	padding-top: 200px;
	padding: 20px !important;
}
